.container{
    width:100%;
    margin: 0 auto;
    margin-top:50px;
}
#map-container{
    position:relative;
}

#map{
    height:0;
    overflow: hidden;
    padding-bottom:30px;
    position: relative;
}